*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5%;
    height: auto;
    max-width: 100%;
    font-family: 'Poppins';
    font-size: 2.5vw;
    color: rgba(34, 34, 34, 1);
    

}


#sec-2{
    max-width: 80%;
    margin: 50px 0;
}

#sec-2 h1{
    font-size: 8vw;
    margin: 0px auto;
    font-weight: 600;
}

#sec-2 p{
    font-size: 2.5vw;
    max-width: 70%;
    margin: 2.604vw 0;
    font-weight: 300;
}

header{
    display: none;
}

.sec-1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 0.521vw;
    padding: 0 5%;
}
.img-gp{
    max-width: 15vw;
    max-height: 900px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1.302vw;
}
#img-gp-1{
    padding-top: 12.5vw;
    display: block;
}

#img-gp-2{
    padding-top: 3vw;
}

#img-gp-3{
    padding-top: 9vw;
}

#img-gp-4{
    padding-top: 1vw;
}

#img-gp-5{
    padding-top: 6vw;
}

.img-box{
    height: 21vw;
    width: 15vw;
    border-radius: 1.563vw;
}
.sec-1 .img-box{
    border-radius: 1.563vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

#img-b-1{
    background-image: url("/assets/challenge_3_assets/8ccbf3c960a8e4982dfe1743cb6ea0dfdafde23d.png");
}

#img-b-2{
    background-image: url("/assets/challenge_3_assets/fd6d3129c97d35725e7930a8ae4f3ed9b9fd585d.png");
    background-clip:content-box;
    background-position: top;
    max-height: 14vw;
}

#img-b-3{
    background-image: url("/assets/challenge_3_assets/4458577e42212dc7cb655e39b88188757dbd2d99.png");
}

#img-b-4{
    background-image: url("/assets/challenge_3_assets/0d5f69b9ebacbdd87fa7b5eceed6f2f83ffec8bb.png");
}

#img-b-5{
    background-image: url("/assets/challenge_3_assets/99eafac2f3bf70298482659f376df03d512d6eef.png");
}

#img-b-6{
    background-image: url("/assets/challenge_3_assets/4cd9d06dea0c996adfd1213abea94cb2a32dc96d.png");
}

#img-b-7{
    background-image: url("/assets/challenge_3_assets/1c79aaf58815a2ea90ba58161e656303be1aeba8.png");
    background-position:right;
}

#img-b-8{
    background-image: url("/assets/challenge_3_assets/8580b8558cfb741a025c4caf01bbf3e6eef95b0c.png");
}

#img-b-9{
    background-image: url("/assets/challenge_3_assets/4413925fdd60c368da9e25dc81ed01a676269889.png");
}

.sec-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5% 10%;
    width: 85vw;
    margin: initial auto;
}

.card{
    height: 60vw;
    width: 32vw;
    margin: 0 auto;
}

.card-img{
    width: 100%;
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.563vw;
    
}

.card-cap{
    width: 100%;
    height: 15vw;
    margin-top: 1.5vw;
}

.card-cap img{
    height: 2.5vw;
    width: 2.5vw;
}

.card-cap p{
    font-size: 2vw;
    margin: 0.5vw 0;
}

#card_img_1{
    background-image: url("/assets/challenge_3_assets/94828e805b8276d0107c051ebf1f83bddb196691.png");
}

#card_img_2{
    background-image: url("/assets/challenge_3_assets/ead6b7302e14ab487375450939adb37a55c58038.jpg");
}

#card_img_3{
    background-image: url("/assets/challenge_3_assets/ddae79e6cc27c7a29d19484fc16a88a858818a64.jpg");
}

.light{
    font-weight: 100;
}

span{
    vertical-align: middle;
}

@media only screen and (max-width: 780px) {
    .card{
    min-height: 70vw;
    min-width: 42vw;
    margin: 0 auto;
}
.card-img{
    width: 100%;
    height: 58vw;
}
body{
    font-size: 5vw;
}

h1{
    font-size: 9vw;
}

header{
    box-shadow: 0 2px 1px 0 #5f5f5fc2;
    padding: 0.5vw;
    margin: 0.1px 0;
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vw;
}

header div{
    position: relative;
}
header img{
    position: fixed;
}

#sec-1{
    margin-top: 10vw;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; transform: translateY(-10000px);}
}

.header {
  opacity: 1; /* Initial state before animation */
  animation: fade-out linear backwards;
  animation-timeline: scroll(root);
  animation-duration: 3s; /* Default duration if not using scroll timeline */
  


}

}

@media only screen and (max-width: 780px) and (orientation: landscape){
    header{
        display: none;
    }
}


@media only screen and (max-width: 420px) {

body{
    font-size: 45vw;
}

h1{
    font-size: 45vw;
}


}